#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.5
Name=MindWork AI Studio
GenericName=AI Studio
Comment=Unified user interface for interaction with Large Language Models (LLM)
Keywords=AI;LLM;
Exec=mind-work-ai-studio
TryExec=mind-work-ai-studio
Icon=org.MindWorkAI.AIStudio
Categories=Science;Utility;Office;
SingleMainWindow=true
DBusActivatable=false
StartupWMClass=org.MindWorkAI.AIStudio
